<div class="cta-container cta-1">
  <div class="red-line">
    <div class="stop stop-1"><div class="station">Howard</div></div>
    <div class="stop stop-2"></div>
    <div class="stop stop-3"></div>
    <div class="stop stop-4"></div>
  </div>
  <div class="brown-line">
    <div class="stop stop-1"></div>
    <div class="stop stop-2"></div>
    <div class="stop stop-3"></div>
    <div class="stop stop-4"></div>
  </div>
  <div class="purple-line">
    <div class="dash dash-1"></div>
    <div class="dash dash-2"></div>
    <div class="dash dash-3"></div>
    <div class="dash dash-4"></div>
    <div class="dash dash-5"></div>
    <div class="dash dash-6"></div>
    <div class="dash dash-7"></div>
    <div class="dash dash-8"></div>
    <div class="dash dash-9"></div>
    <div class="dash dash-10"></div>
    <div class="dash dash-11"></div>
    <div class="dash dash-12"></div>
    <div class="dash dash-13"></div>
    <div class="dash dash-14"></div>
    <div class="dash dash-15"></div>
    <div class="dash dash-16"></div>
    <div class="dash dash-17"></div>
    <div class="dash dash-18"></div>
    <div class="dash dash-19"></div>
    <div class="dash dash-20"></div>
    <div class="dash dash-21"></div>
    <div class="dash dash-22"></div>
    <div class="dash dash-23"></div>
    <div class="dash dash-24"></div>
    <div class="dash dash-25"></div>
    <div class="dash dash-26"></div>
    <div class="dash dash-27"></div>
    <div class="dash dash-28"></div>
    <div class="dash dash-29"></div>
    <div class="dash dash-30"></div>
    <div class="dash dash-31"></div>
    <div class="dash dash-32"></div>
    <div class="dash dash-33"></div>
    <div class="dash dash-34"></div>
    <div class="dash dash-35"></div>
    <div class="dash dash-36"></div>
    <div class="dash dash-37"></div>
    <div class="dash dash-38"></div>
    <div class="dash dash-39"></div>
    <div class="dash dash-40"></div>
    <div class="dash dash-41"></div>
    <div class="dash dash-42"></div>
    <div class="dash dash-43"></div>
    <div class="dash dash-44"></div>
    <div class="dash dash-45"></div>
    <div class="dash dash-46"></div>
    <div class="dash dash-47"></div>
    <div class="dash dash-48"></div>
    <div class="dash dash-49"></div>
    <div class="dash dash-50"></div>
    <div class="dash dash-51"></div>
    <div class="dash dash-52"></div>
    <div class="dash dash-53"></div>
    <div class="dash dash-54"></div>
    <div class="dash dash-55"></div>
    <div class="dash dash-56"></div>
    <div class="dash dash-57"></div>
    <div class="dash dash-58"></div>
    <div class="dash dash-59"></div>
    <div class="dash dash-60"></div>
    <div class="dash dash-61"></div>
    <div class="dash dash-62"></div>
    <div class="dash dash-63"></div>
    <div class="dash dash-64"></div>
    <div class="dash dash-65"></div>
    <div class="dash dash-66"></div>
    <div class="dash dash-67"></div>
    <div class="dash dash-68"></div>
    <div class="dash dash-69"></div>
    <div class="dash dash-70"></div>
    <div class="dash dash-71"></div>
    <div class="dash dash-72"></div>
    <div class="dash dash-73"></div>
    <div class="dash dash-74"></div>
    <div class="dash dash-75"></div>
    <div class="dash dash-76"></div>
    <div class="dash dash-77"></div>
    <div class="dash dash-78"></div>
    <div class="dash dash-79"></div>
    <div class="dash dash-80"></div>
    <div class="dash dash-81"></div>
    <div class="dash dash-82"></div>
    <div class="dash dash-83"></div>
    <div class="dash dash-84"></div>
    <div class="dash dash-85"></div>
    <div class="dash dash-86"></div>
    <div class="dash dash-87"></div>
    <div class="dash dash-88"></div>
    <div class="stop stop-1"></div>
    <div class="stop stop-2"></div>
    <div class="stop stop-3"></div>
    <div class="stop stop-4"></div>
  </div>
</div>